body {
    background: linear-gradient(rgb(240, 255, 102), rgb(248, 255, 102), rgb(256, 255, 102),rgb(267, 255, 184), rgb(270, 255, 214), rgb(278, 255, 245)) ;
}

span {
    font-size: 30px;
}

#camera, #result {
border: 2px dashed orange;
width: 400px;
height: 300px;

}

#resultEmotionName, #resultEmotionName2 {
    color: salmon;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.emoji {
    font-size: 48px;
}

.heading {
font-size: 18px;
border-radius: 10px;
letter-spacing: 10px;
background-color: aquamarine;
width: 700px;
border-radius: 250px;
}

label
{
    font-size: 14px;
color: #62b33a;
padding: 6px;
border-radius: 10px;
background-color: white;
}



